





.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

/*.card:hover .card-inner {
  transform: rotateY(180deg);
}*/
/* Add this to your existing CSS */

.card-inner.flipped {
  transform: rotateY(180deg);
}


.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #fff;
  display: block;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #fff;
  display: block;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}




/*btn*/
.card-front button {
  height: 2em;
  width: 4em;
  border: none;
  border-radius: 10em;
  background: #016DD9;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
 }
 
 .card-front button:hover {
  animation: shake3856 0.3s linear infinite both;
 }
 
 @keyframes shake3856 {
  0% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 
  20% {
   -webkit-transform: translate(-2px, 2px);
   transform: translate(-2px, 2px);
  }
 
  40% {
   -webkit-transform: translate(-2px, -2px);
   transform: translate(-2px, -2px);
  }
 
  60% {
   -webkit-transform: translate(2px, 2px);
   transform: translate(2px, 2px);
  }
 
  80% {
   -webkit-transform: translate(2px, -2px);
   transform: translate(2px, -2px);
  }
 
  100% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 }
 .bd{
  position: absolute;
  top: 50%;
  left: 50%;
  /*transform: translateX(-50%) translateY(-50%);*/
  transform: translate(-50%, -50%);
 }
 